

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
  line-height: 500px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1 { font-size: 3em; }
h2 {
  color: #888;
  font-size: 2em;
  line-height: 500px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

p{
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}



mark{
  background-color:#F8F6E1
}





video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}